# application-gate.yaml
server:
  port: 8082

spring:
  application:
    name: gate-service
  config:
    import: optional:application.yaml

data:
  service:
    url: http://localhost:8083

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  packages-to-scan: ru.igumnova.gate_service.controller
  paths-to-match: /api/**